<!DOCTYPE html>
<html>
<head>
    <title>Formulario de Notas y Asistencia</title>
    <link rel="stylesheet" type="text/css" href="/static/css/estilos.css">
</head>
<body>
<div class="container">
    <h1>Formulario de Notas</h1>
    <form action="/notasyasistencia" method="POST">
        <label for="nota1">Nota 1:</label>
        <br>
        <input type="number" id="nota1" name="nota1" required>
        <br>
        <label for="nota2">Nota 2:</label>
        <br>
        <input type="number" id="nota2" name="nota2" required>
        <br>
        <label for="nota3">Nota 3:</label>
        <br>
        <input type="number" id="nota3" name="nota3" required>
        <br>
        <label for="asistencia">Asistencia (%):</label>
        <br>
        <input type="number" id="asistencia" name="asistencia" required>
        <br>
        <button type="submit">Enviar</button>
    </form>
    {% if promedio and status %}
    <div>
        <h3>{{promedio}}</h3>
        <h3>{{status}}</h3>
    </div>
    {% endif %}
</div>
</body>
</html>